body{
    color: white;
    background-color: rgb(19, 46, 72);
    font-family: sans-serif;
    height: 100vh;
    padding: 2rem;
}

form{
    border: 0.2rem solid rgb(119, 140, 159);
    border-radius: 1.5rem;
    margin: 2rem 0;
    padding: 1rem;
    width: 60%;
}
label{
    font-size: 1.3em;
    margin: 3rem 0.5rem;
    
}

b{
   color: rgba(246, 133, 133, 0.968); 
}
form button{
    background-color: rgb(64, 152, 234);
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    border: 0.15rem solid white;
    opacity: 0.8;
    transition: all .5s ease;
}
input:hover, textarea:hover{
    border-right: 0.2rem solid rgb(64, 152, 234);
}
form button:hover{
    opacity: 1;
    cursor: pointer;
    padding: 0.2rem 0.8rem;
}

a{
    border: 0.2rem solid rgb(119, 140, 159);
    padding: 0.2rem 0.5rem;
    margin: 0 1rem;
    transition: all .5s ease;
    border-radius: 0.5rem;
}
a:hover{
    background-color: rgb(35, 85, 132);
    cursor: pointer;
}
#actividadEmp{
    margin-top: 1rem;
}