
body{
    color: white;
    background-color: rgb(19, 46, 72);
    font-family: sans-serif;
    /* border: 3px solid violet; */
    height: 100vh;
    padding: 0.5rem;
}

h1 {
     text-align: center;
     margin-top: 1rem;
}

#imgUsuario {
    width: 3rem;
    margin: 0 1rem;
    border-radius: 50%;
    
}

.log {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
}

.logout{
    border: 2px solid white;
    margin: 0 1rem;
    padding: 0.3rem;
    border-radius: 0.8rem;
    color: white;
    opacity: 0.8;
    transition: all .5s ease;
    display: flex;
    align-items: center;
}
.crearTarea{
    border: 2px solid rgb(224, 109, 15);
    margin: 0 1rem;
    padding: 0.1rem 0.3rem;
    border-radius: 0.8rem;
    color: white;
    opacity: 0.8;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout:hover, .crearTarea:hover{
    opacity: 1;
    background-color: rgb(44, 107, 166);
    cursor: pointer;
}



#opcionesLider {
    display: flex;
    align-items: center;
    margin: 1rem 0;

}

#imgEmpresa{
    width: 3rem;
    margin: 0 1rem;
    border-radius: 50%;
}

#adminEmpresa {
    border: 2px solid rgb(224, 109, 15);
    margin: 0 1rem;
    padding: 0.1rem 0.3rem;
    border-radius: 0.8rem;
    color: white;
    opacity: 0.8;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#adminEmpresa:hover{
    background-color: rgb(44, 107, 166);
    opacity: 1;
    cursor: pointer;
}

#opcionesLider a {
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
}

#imgEngranaje {
    width: 1.5rem;
    margin: 0 0.5rem;
}

#selecEmpleado{
    margin: 1rem;
}
.empleadoActual, .verTareas{
    margin:1rem 0 0.5rem 0;
    transition: all .8s ease;
}

.resaltado{
    color: rgb(222, 9, 2);
    transition: all .5s ease;
}


/* ------------------------------------- */

.contenedor {
    width: 100%;
   border: 3px solid rgb(5, 12, 19);
   padding: 0.5rem;
   
   
}


.contenedor ul{
    /* background-color: aqua; */
    
    margin: 0px auto;
    /* width: 95%; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    
    
}

.contenedor .li{ 
    list-style: none;
    padding: 1em;
    margin: 0 0 0 0;
    transition: all .5s ease;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    opacity: 0.8;
}

.contenedor .li:hover{
    cursor: pointer;
}

.contenedor .li.activo{
    background-color: rgb(44, 107, 166);  
    opacity: 1;
}

.contenedor .subcontenedor{
    background-color: rgb(5, 12, 19);
    /* position: relative; */
}

.contenedor .bloque{
    background-color: rgb(44, 107, 166);
    
    padding: 0.5em;
    /* position: absolute; */
    top: 0;
    transition: all .5s ease;
}


#tablaGeneral{
    border: 3px solid rgb(5, 12, 19);
    
    
}

#tablaGeneral thead th{
    border: 2px solid rgb(5, 12, 19);
    text-align: center;
}

#tablaGeneral tbody td,#tablaGeneral tbody th {
    border: 2px solid rgb(19, 46, 72);
    text-align: center;
}

.cumplida {
    width: 2rem;
}

.campoId {
    width: 3%;
}

.campoNombre {
    width: 25%;
    max-width: 25%;
    
}

.campoDescripcion {
    width: 45%;
    max-width: 45%;
}

.campoCreacion {
    width: 6%;
}

.campoLimite {
    width: 6%;
}

.campoCumplida,.campoAcciones, .campoNota {
    width: 5%;
}

.accion{
    width: 1.4rem;
    margin: 0.1rem;
    opacity: 0.7;
}
.accion:hover, .nota:hover{
    cursor: pointer;
    opacity: 1;
}
#tablaAmpliada, #contenedorNota, #contenedorCrearNota,#contenedorCrearTarea {
    position: absolute;
    top: 0;
    height: 99%;
    padding: 5rem 2rem;
    background-color: rgba(0, 0, 0, 0.75);
    width: 99%; 
    text-align: end;
}

#tareaAmpliada {
    background-color: rgb(44, 107, 166); 
    border: 5px solid rgb(214, 221, 228);
    border-radius: 1rem;
    margin: 0 0 0 auto;
    width: 46%;
    padding: 0.5rem;
    text-align: start;
}

#tareaAmpliada h3{
    display: inline-block;
    margin: 0.8rem 0.8rem 0.2rem 0 ;
    text-decoration: underline;
}

#tareaAmpliada b{
    font-size: 1.15rem;
}

#cerrarAmpliada, #cerrarNota, #cerrarCrearNota, #cerrarCrearTarea{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}


#notaMostrada {
    background-color: rgb(176, 83, 30);
    border: 5px solid rgb(214, 221, 228);
    border-radius: 1rem;
    margin: 0 0 0 auto;
    font-size: 1.5rem;
    padding: 0.7rem;
    text-align: start;
    max-width: 50%;
}

#formNota{
    background-color: rgb(44, 107, 166); 
    border: 5px solid rgb(214, 221, 228);
    border-radius: 1rem;
    margin: 0 0 0 auto;
    width: 40%;
    padding: 0.5rem;
    text-align: start;
}

#formNota input{
    width: 95%;
    height: 10rem;  
    margin-bottom: 1rem;
    
}

#subcontCrearTarea{
    background-color: rgb(44, 107, 166); 
    border: 5px solid rgb(214, 221, 228);
    border-radius: 1rem;
    margin: 0 0 0 auto;
    width: 40%;
    padding: 0.5rem;
    text-align: start;
}

.inputTarea{
    display: block;
    text-align: left;
    margin-top: 1rem;
}

#inputTareaNombre{
    width: 80%;
}

#inputTareaDescripcion{
    padding: 0.2rem;
}

.btnGuardar{
    background-color: rgb(238, 112, 39);
    border: 2px solid white;
    margin: 1rem;
    padding: 0.3rem;
    border-radius: 0.8rem;
    color: white;
    opacity: 0.9;
    transition: all .5s ease;
    display: flex;
    align-items: center;    
}
.btnGuardar:hover{
    opacity: 1;
    cursor: pointer;
}

.invisible{
    display: none;
}


